*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
    height: 5000px;
}
section{
    padding-top: 50px;
}
button{
    border: none;
    background-color: transparent;
}
button:focus{
    outline: none;
}
.navigation{
    line-height: 50px;
    background-color:blueviolet;
    position: fixed;
    width: 100%;
}
a{
    color: #fff;
    text-decoration: none;
}
.logo{
    font-size: 20px;
    width: 30%;
    vertical-align: middle;
    padding-left: 15px; 
    position: relative;
    
}
.logo, nav{
    display: inline-block;
}
nav{
    text-align: right;
    width: 70%;
    padding-right: 15px;
}
nav a{
    display: inline-block;
    padding: 0 10px;
    height: 50px;
    transition: background-color 0.2s ease;
}
nav a:hover{
    background-color: blue;
}
#icon-menu{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
}
#icon-menu span{
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    left: 0;
    transition: all 0.5s ease;
}
#icon-menu span:nth-child(1){
    top: 0;
}
#icon-menu span:nth-child(2){
    top: 10px;
}
#icon-menu span:nth-child(3){
    top: 20px;
}
#icon-menu.trigger span:nth-child(1){
    transform: rotate(45deg);
    top: 12px;
}
#icon-menu.trigger span:nth-child(2){
   opacity: 0;
}
#icon-menu.trigger span:nth-child(3){
    transform: rotate(-45deg);
    top: 12px;
}
@media screen and (min-width:769px){
    #icon-menu{
        display: none;
    }
    .navigation{
        transition: all 0.5s ease-out;
        height: 50px;
    }
    .navigation.nav-style{
        background-color: greenyellow;
        box-shadow: 1px 1px 5px 1px rgba(0, 0,0,.3);
        height: 40px;
        line-height: 40px;
    }
    .logo{
        transition: font-size 0.5s ease;
    }
    .logo.nav-style{
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    .navigation{
        background-color: royalblue;
    }
    .logo, nav{
        display: block;
        width:100%;
    }
    nav{
        text-align: left;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: height 0.5s ease-in;
    }
    
    nav a {
        padding-left: 25px;
        /* border-top: 1px solid blue;
        border-bottom: 1px solid blue; */
        vertical-align: middle;
    }
}
@media screen and (max-width:425px){
    nav a {
        width: 100%;
        display: block;
    }
    nav.expand{
        height: 300px;
    }
}
@media screen and (min-width:425px) and (max-width:768px){
    nav a {
        display: inline-block;
        width:50%;
    }
    nav.expand{
        height: 150px;
    }
}
