*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
    height: 5000px;
}
section{
    padding-top: 50px;
}
button{
    border: none;
    background-color: transparent;
}
button:focus{
    outline: none;
}
.navigation{
    line-height: 50px;
    background-color:blueviolet;
    position: fixed;
    width: 100%;
    z-index: 5;
}
a{
    color: #fff;
    text-decoration: none;
}
.logo{
    font-size: 20px;
    width: 30%;
    vertical-align: middle;
    padding-left: 15px; 
    position: relative;
    
}
.logo, nav{
    display: inline-block;
}
nav{
    text-align: right;
    width: 70%;
    padding-right: 15px;
}
nav a{
    display: inline-block;
    padding: 0 10px;
    height: 50px;
    transition: background-color 0.2s ease;
}
nav a:hover{
    background-color: blue;
}
#icon-menu{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
}
#icon-menu span{
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    left: 0;
    transition: all 0.5s ease;
}
#icon-menu span:nth-child(1){
    top: 0;
}
#icon-menu span:nth-child(2){
    top: 10px;
}
#icon-menu span:nth-child(3){
    top: 20px;
}
#icon-menu.trigger span:nth-child(1){
    transform: rotate(45deg);
    top: 12px;
}
#icon-menu.trigger span:nth-child(2){
   opacity: 0;
}
#icon-menu.trigger span:nth-child(3){
    transform: rotate(-45deg);
    top: 12px;
}
@media screen and (min-width:769px){
    #icon-menu{
        display: none;
    }
    .navigation{
        transition: all 0.5s ease-out;
        height: 50px;
    }
    .navigation.nav-style{
        background-color: #F9BF3B;
        box-shadow: 1px 1px 5px 1px rgba(0, 0,0,.3);
        height: 40px;
        line-height: 40px;
    }
    .logo{
        transition: font-size 0.5s ease;
    }
    .logo.nav-style{
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    .navigation{
        background-color: royalblue;
    }
    .logo, nav{
        display: block;
        width:100%;
    }
    nav{
        text-align: left;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: height 0.5s ease-in;
    }
    
    nav a {
        padding-left: 25px;
        /* border-top: 1px solid blue;
        border-bottom: 1px solid blue; */
        vertical-align: middle;
    }
}
@media screen and (max-width:425px){
    nav a {
        width: 100%;
        display: block;
    }
    nav.expand{
        height: 300px;
    }
}
@media screen and (min-width:425px) and (max-width:768px){
    nav a {
        display: inline-block;
        width:50%;
    }
    nav.expand{
        height: 150px;
    }
}

/* Burger1 */

.section2{
    background-color: #22A7F0;
    height: 500px;
    padding-top: 150px; 
    margin-top: 3rem;
}
.burger1{
    width: 60px;
    height: 45px;
    /* background-color: red; */
    margin: 50px auto;
    cursor: pointer;
    position: relative;
}
.burger1 span{
    width: 100%;
    height: 8px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0;
    transition: 0.2s ease-in-out;
}
.burger1 span:nth-child(1){
    top: 0;
}
.burger1 span:nth-child(2){
    top: 18px;
}
.burger1 span:nth-child(3){
    top: 37px;
}
.burger1.active span:nth-child(2){
    opacity: 0;
    left: -100%;
}
.burger1.active span:nth-child(1){
    transform: rotate(135deg);
    top: 18px;
}
.burger1.active span:nth-child(3){
    transform: rotate(-135deg);
    top: 18px;
}

/* burger2 */

.section3{
    background-color: #26A65B;
    height: 500px;
    padding-top: 150px; 
}
.burger2{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F7CA18;
    position: relative;
    transition: 0.4s ease-in-out;
}
.burger2 span{
    width: 52px;
    height: 6px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.burger2 span::before,
.burger2 span::after{
    content: "";
    position: absolute;
    right: 0;
    width: 52px;
    height: 6px;
    background-color: #fff;
    transition: 0.4s ease-in-out;
}
.burger2 span::before{
    transform: translateY(-15px);
}
.burger2 span::after{
    transform: translateY(15px);
}
.burger2:hover span::before{
    transform: translateY(-18px);
    transform-origin: top right;

}
.burger2:hover span::after{
    transform: translateY(18px);
    transform-origin: bottom right;

}

.burger2.active{
    transform: rotate(180deg);
}
.burger2.active span::before,
.burger2.active span::after{
    width: 50%;
    
}
.burger2.active span::before{
    transform: translateY(0);
    transform: rotate(45deg); 
    top: -10px;
    right: -1px
}
.burger2.active span::after{
    transform: translateY(0);
    transform: rotate(-45deg);
    top: 10px;
    right: -1px;
}
.burger2.active:hover span::before,
.burger2.active:hover span::after{
    top: 0px;
    right: 0;
}

.burger2.active svg{
    transform: rotate(-180deg);
}
.burger2 circle{
    fill: transparent; /* couleur du background du SVG */
    stroke: #013243; /* Couleur de la border du SVG */ 
    stroke-width: 3px; /* Epaisseur de la border du SVG */ 
    stroke-dasharray: 302;
    stroke-dashoffset: 302;
    transition: .4s ease-in-out;
    transition-delay: 0.4s;
}
.burger2.active circle{
    stroke-dashoffset: 0;
}

/* Burger3 */

.section4{
    background-color: #F2784B;
    height: 500px;
    padding-top: 150px; 
}
.burger3{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    cursor: pointer;
}

.burger3 svg{
    fill: none;
    stroke: #86E2D5;
    stroke-width: 2.7px;
    stroke-linecap: round;
}

.burger3 .top{
    stroke-dasharray: 40 251; 
    transition: 0.6s ease-in-out;
}
.burger3 .middle{
    stroke-dasharray: 40 0 ;
    stroke-dashoffset: 40;
    transition: 0.6s ease-in-out;
}
.burger3 .bottom{
    stroke-dasharray: 40 310; 
    transition: 0.6s ease-in-out;
}
.burger3.active .top{
    stroke-dashoffset: -227;
}
.burger3.active .middle{
    stroke-dasharray: 0 40; 
    stroke-dashoffset: 20;
}
.burger3.active .bottom{
    stroke-dashoffset: -287;
}